nav{
    display: flex;
    position: static;
    flex-direction: column-reverse;
    text-align: right;
    font-size: 30px;
}
#header{
    display: flex;
    position: absolute top;
    flex-direction: row-reverse;
    font-size: 50px;
    font-weight: lighter;
}
header{
    display: flex;
    position: static;
    font-size: 75px;
    text-align: center;
    font-weight: bolder;
}
*{
    background-color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite; 
}

.picture-1{
    display: flex;
    position: relative;
    flex-flow: row;
    border-radius: 10px
    
}

.projects{
    display: flex;
    position: relative;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    justify-items: flex-end;
    flex-wrap: wrap;
    text-align: right;
    list-style: none;
    font-size: 20px;
}

.bigimage{
    max-width: 450px;
    height: auto;
    border-radius: 10px;
}

.bigimage:hover{
    opacity: 5;
    resize: 450px;
}
.smallimage{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.smallimage:hover{
    opacity: 5;
}

.portpic{
    font-size: 30px;
}

.portpic:hover{
    opacity: 5;
}