nav{
    display: flex;
    position: static;
    flex-direction: column-reverse;
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
}
#header{
    display: flex;
    position: absolute top;
    flex-direction: row-reverse;
    color: antiquewhite;
    font-size: 50px;
    font-weight: lighter;
}
header{
    display: flex;
    position: static;
    color: antiquewhite;
    font-size: 75px;
    text-align: center;
    font-weight: bolder;
}
*{
    background-color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.picture{
    display: flex;
    position: relative;
    flex-direction: inherit;
}

#projects{
    display: flex;
    position: relative;
    flex-direction: row;
    text-align: center;
    justify-content: flex-end;
}